body {
    margin:0;
    padding: 0;
    background-color: beige;
}.nav {
    display : flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}
.card-container {
    display: flex;
    justify-content: center;
    gap : 80px;
}
.card {
    text-align: center;
    border: 1px;
    padding : 50px;
    height: 350px;
    border-radius: 10%;
    box-shadow: 0px 4px 10px rgb(100, 108, 108);
    background-color: white;
}
img {
    width: 180px;
    height : 180px;
    border-radius: 50%;

}